<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		    <title>Filiate</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="../../../assets/css/scrollIdx.css"/>
		<link rel='stylesheet' href="../../../assets/css/loading-bar.css" type='text/css' media='all' />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel='stylesheet' href="../../../assets/css/indexpageStyles.css" type='text/css' media='all' />
		<link rel="stylesheet" type="text/css" href="../../../assets/css/login.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="../search/getService.js"></script> -->
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
		
		<link rel="stylesheet" crossorigin href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="icon" type="image/ico" href="img/titleIcon.jpg" />
		<style>
			.dropdown-content {
			display: none;
			text-align:center;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 12px 16px;
			z-index: 999;
			margin-left:56%
			}
			#dropdown:hover div  {
			display:block;
			}
			input[id="msgs"]:hover{
			border-bottom: none !important;
			border-radius:0
			}

			#productDetail:hover {
			box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
			}
			.footer{
			background:#0e1127;
			font-size: 12px;
			position: relative;
			padding-top: 25px;
			width: 100%;
			z-index:1;
			}
			.footerNav{
			margin-left: 35px;
			margin-right: 35px;
			max-width: 2000px;
			}
			.footerSection{
			border-bottom: 1px solid #272727;
			clear: both;
			margin-bottom: 7px;
			padding-bottom: 5px;
			min-width: 100%;
			width:33.33%
			}
			.footerPara{
			color: #9b9b9b;
			font-size: 12px;
			line-height: 25px;
			/* margin: 0 0 35px; */
			/* width: 140px; */
			}
			@media screen and (min-width: 770px) {
			.s-box {
			position: absolute;
			right: 20px;
			z-index: 7;

			}
			}
			@media screen and (max-width:770px){
			#navDesign {margin-left:7px}
			}
			@media screen and (max-width:770px){
			.input-group {margin-left:20px}
			}

			/* #amazonDL:hover{

			} */
			#navHeader a{
			color:#fff
			}
		</style>
    </head>
       
    <body style="background: #f1ecec" >
	    <div style="position:relative;top:0px;background:#0e1127;height: 50px;padding:15px;">
			<img id="topfade" src="../../../assets/img/logo.png" width="60" height="40" style="margin:-2px 0px 0px 5px;position:absolute;top:4px;border-radius: 5px;border-top-style: inherit;border-bottom-width: inherit;border-bottom-style: unset;"/>
	        <div id = "navHeader" style="float:right;color:#7D3C98;font-weight:bold;">
				<a href="#" data-toggle="modal" data-target="#login-modal" style="padding-right: 20px">LOGIN/REGISTER</a>
				<a href="#" style="padding-right: 20px">WISHLIST</a>
	        </div>
		</div>
		        <!-- LOGIN POPUP -->
		        
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog" style="margin: 200px auto;">
		<div class="loginmodal-container" >
		<h1>Login</h1><h4 style ="display:block;font-size:17px;text-align: center;">Get access to wishlist and recommendations</h4><br/>
		<form>
		<input type="text" name="user" placeholder="Username">
		<input type="password" name="pass" placeholder="Password">
		<a href="#" style="float: right;margin:5px;font-weight: 600"><span>Forgot?</span></a>
		<input type="submit" name="login" class="login loginmodal-submit" value="Login" style="background-color:#2b0241">
		</form>

		<div class="login-help" data-toggle="modal" data-target="#login-modal">
		<a href="JavaScript:void(0)" data-toggle="modal" data-target="#register-modal"  style="color:#2b0241;font-size:18px;margin:5px;font-weight: bold">Register</a>
		</div>
		</div>
		</div>
		</div>
		<div class="modal fade" id="register-modal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog" style="margin: 200px auto;bottom: 66px;box-sizing: border-box;">
		<div class="loginmodal-container" >
		<h1>Register</h1><h4 style ="display:block;font-size:17px;text-align: center;">We do not share your personal details with anyone</h4><br/>
		<form>
		<input type="text" name="user" placeholder="Username">
		<input type="text" name="email" placeholder="E-mail">
		<input type="password" name="pass" placeholder="Password">
		<input type="password" name="pass" placeholder="Confirm Password">
		<input type="submit" name="Register" class="login loginmodal-submit" value="Register" style="background-color:#2b0241">
		</form>

		<div class="login-help" data-toggle="modal" data-target="#register-modal">
		<a href="JavaScript:void(0)" data-toggle="modal" data-target="#login-modal" style="color:#2b0241;font-size:18px;margin:5px;font-weight: bold">Login</a>
		</div>
		</div>
		</div>
		</div>
	<div ng-controller = "headerCtrl">
		<div style="width: 100%;min-height: 60px;color: #000;z-index: 6;border-bottom: 1px solid #5f93ac;background-color: #fff;box-shadow: 0px 1px 3px #657a84" >
			<ul id = "navDesign" class = "nav navbar-nav">
			<li>
			<a href = "#" >
			MEN

			</a>

			</li>

			<li>
			<a href = "#" >
			WOMEN

			</a>

			</li>

			<li>
			<a href = "#" >
			KIDS

			</a>
			</li>

			<li>
			<a href = "#" >
			ELECTRONICS
			</a>
			</li>
			<li>
			<a href = "#">
			DISCOVER MORE...
			</a>
			</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" style="margin: 12px 32px 0 0">
			<div class="input-group s-box">
			<input id="msg" type="text" class="form-control" name="msg" placeholder="Search for products" style="background: #f1ecec;width: 240px;border: none;">
			<!--</div>-->
			    <!--<div style="display: inline-block">-->
			<span id = "dropdown">
				<input id="msgs" type="text" class="form-control" name="msg" placeholder="Sort by:      Recommended" style="padding:9px 14px; font-size:14px;width: 200px;border: 1px solid #d4d5d9;margin-left:15px;color:black;position:relative">
				<div class = "dropdown-content" ng-repeat = "y in sortItems" style="cursor: pointer;" ng-click="sortValue(y)">{{y}}</div>
			</span>
			<!--</div>-->
			</div>
			</ul>
		</div>
		<!--- Products Section---->
		<div class = "container-fluid" >
			<h3 style="text-align: center;">{{ProductType}}</h3>
		<div  style="display:flex;align-item:stretch;flex-direction:row;justify-content:flex-start; margin-top:20px">
		<section style = "margin-left:25px;">
		<div id = productDetail style = "min-width:350px;max-width:252px;flex-grow:0 !important;flex-direction:column;flex-wrap:wrap;flex:1;background:whitesmoke;border-right:1px solid #e9e9ed;margin-top:10px">
		<div style="padding-right:25px;padding-top:25px;padding-bottom:15px;padding-left:25px;border-bottom: solid 2px #e9e9ed;position:relative;"ng-init="ProductName = lists[0].ProductName;ProductBrand = lists[0].product_specification[1].Brand;Description = lists[0].product_specification[0].Description">
		<article>
		  <header>
		    <h1>{{ProductName}}</h1>
		    <p><b>{{ProductBrand}}</b></p>
		  </header>
		<p>
		{{Description}}
		<!-- "{{"Review}}"{{"Specification}}"{{"News}} -->
		</p>
		 <p><b>BUY AT </b>  &nbsp
		 <button type = "button" class = "btn btn-primary" style="width: 50%;padding: 3px;background: #3C72B9;" ng-click='redirect()'><i class="fa fa-amazon" style="font-size:24px"></i></button>
		 </p>
		</article>
		</div>
		</div>
		</section>
		<!---- Grid Products--->
		<div style = "align-self:flex-start;flex:1;flex-direction:column;padding:3px;margin:5px">
		<div style = "padding-left:0px;padding-right:20px;">
		<section style="width:100%">
		<ul style = "display:flex;flex-direction:row;flex-wrap:wrap;width:100%;justify-content:space-between" >
		<!---------------START------------------->

		<li ng-repeat ="x in lists" style="box-shadow: 0px 5px 3px #888888;box-sizing:border-box;width:265px;overflow:hidden;position:inherit;z-index:6;display:inline-block; margin-bottom:20px;cursor: pointer;" ng-click = "productList($index)">
			<div>
			<div style="width:100%;height:100%;display:block">
			<img style = "max-width: 100%;margin-left: auto;margin-right: auto;height: auto;" src = {{x.productImg}}>
			</div>
			</div>
			<div style = "text-align: center;position:relative;z-index:3;background:#fff;padding:0 10px;box-sizing:border-box;overflow:hidden">
			<h3 style = "margin-bottom:6px;overflow:hidden">{{x.ProductName}}</h3>
			<h4 style ="display:block;font-size:17px">{{x.Brand}}</h4>
			<div style = "margin:10px 0 16px;font-size:15px"><b>{{x.price}}</b></div>
			<div style = "margin:10px 0 16px;font-size:15px"><b>{{x.rating}}</b></div>
			<div style="margin-right: -10px;margin-left: -10px; background: #3C72B9;padding: 7px;">Buy At &nbsp;<i class="fa fa-amazon" style="font-size: 18px;"></i></div>
			</div>
		</li>
		</ul>
		</section>
		</div>
		</div>
		</div>
		</div>
	</div>
		<footer class = "footer">
		<nav class="footerNav">
		<section class = "footerSection">
		<h2 style = "display: block;margin-top: 5px;margin-bottom: 7px;color:white ">Filiate</h2>
		<p class = "footerPara">
		We create possibilities for the connected world.
		<b>Be Bold.</b>
		</p>
		</section>
		<div class = "row" style = "line-height:25px;padding-bottom:15px">
		<div class = "col-xs-4 col-sm-3">
		<h4 style = "color: #fff;margin-bottom: 4px;margin-top: 35px;">Explore</h4>
		<a style = "color:#9b9b9b">
		Home
		</a>
		</div>

		<div class = "col-xs-4 col-sm-3" style="margin-left: 12%;">
		<h4 style = "color: #fff;margin-bottom: 4px;margin-top: 35px;">Visit</h4>
		<div style = "color:#9b9b9b">
		California
		</div>
		</div>
		<div class="col-xs-4 col-sm-3 " style="margin-left: 12%;" >
		<div id = "scrollTop" style = "left:90%;color:#fff;font-weight:1000;margin-bottom: 4px;margin-top: 35px;width:12%">
		<i class="fa fa-hand-o-up" style = "font-size:25px; cursor: pointer;"> </i>Top
		</div>
		</div>

		</div>
		</nav>

		</footer>
		<script>
			$('#scrollTop').click(()=>{
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			});
		</script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="../contentController.js"></script>
	</body>
</html>