<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fily | Find the best price,deals,offers for Electronics,Dresses,Appliances and more &mdash; Fily.com</title>
  <meta charset="utf-8">
  <meta name="description" content="Buy Amazon devices,Electronics,Dress,Bags wallets and luggage,Home appliances,Jewellery,Prime Videos,Shoes & much more."/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        table {
          margin:auto;
          font-family: arial, sans-serif;
          border-collapse: separate;
          width: 80%;
          background: #fff;
          
        }
        th {
          text-align: center;
          border:1px solid #dddddd;
          padding: 10px;
        }
        td {
            text-align: justify;
            border-right: 1px solid #dddddd;
            
        }
        td div{
            letter-spacing: .3px;
            padding:6px;
        }
        td h4{
            color: #3e64ff;
        }
        tr:nth-child(1) {
            background-color:#f6f5f5;    
        }
        .slider {
          -webkit-appearance: none;
          width: 80%;
          height: 10px;
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
        }

        .slider:hover {
          opacity: 1;
        }
    </style>
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" >
    
    <div class="site-wrap" id="home-section" ng-app="contentApp" ng-controller="headerCtrl">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body">
            <ul class="site-menu main-menu js-clone-nav ml-auto d-lg-block" style="list-style-type: none;">
                <li style="margin-top: 12px;">
                  <a href="Javascript:void(0)" class="nav-link" style="color: #000;font-size: 18px" onclick="document.getElementById('filterModal').style.display='block'">
                    <i class="fa fa-filter" style="font-size:22px;color:#3e64ff"></i> Filter 
                  </a>
                </li>
                <li style="margin-top: 12px;">
                  <a href="Javascript:void(0)" style="color: #000;font-size: 18px" class="nav-link" ng-click="getWishModal()">
                    <sup style="color:red;font-weight:bold;font-size:17px;">{{wishItems}}</sup>
                      Wishlist
                  </a>
                </li>
                <li style="margin-top: 12px">
                  <a style="color: #000;font-size: 18px" href = "Javascript:void(0)" data-toggle="modal" data-target="#login-modal" class="nav-link">
                    Log In
                  </a>
                </li>
              </ul>
        </div>
      </div>
      <header class="site-navbar site-navbar-target bg-white" role="banner">
        <div class="container">
          <div class="row align-items-center position-relative">  
            <div class="col-lg-4 text-center header-ele" style="display: contents;">
                <div class = "site-logo logo-style" style="color: #3e64ff !important;padding-right: 80px;">
                  <a href = "#!/">Fily</a>
                </div>
                
                <input type="text" id = "re-search" autocomplete="off" placeholder="Search for products" ng-model = "amazonItems" ng-focus = displayList() ng-blur = hideList()>
                
                <div id = "list-product" style="left:74px;width:570px;display:none;position: absolute;left:118px;min-width: 250px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);top:55px">
                  <ul style = "padding-inline-start: 0px;list-style-type: none;background: #fff; overflow: auto; height: 250px;margin-block-end:0px;color:black">
                    <li ng-repeat = "pl in amazonProducts | filter:amazonItems" style="padding: 7.5px;cursor: pointer;text-align: center;border-bottom: 1px solid #ddd;" ng-click = fetchproducts(pl)>
                      {{pl}}
                      <!-- <hr style="color: black;"/> -->
                    </li>
                    
                  </ul>
                </div>
                
                <div class="ml-auto toggle-button d-inline-block d-lg-none">
                  <a href="Javascript:void(0)" class="site-menu-toggle py-5 js-menu-toggle text-white">
                    <span class="icon-menu h3 text-primary"></span>
                  </a> 
                </div>
                    
            </div>            
            <div class="col-lg-4">  
              <nav class="site-navigation text-right mr-auto" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li>
                    <a href="Javascript:void(0)" onclick="document.getElementById('filterModal').style.display='block'">
                      <i class="fa fa-filter" style="font-size:24px"></i> Filter 
                    </a>
                  </li>
                  <li><a href="Javascript:void(0)" class="nav-link" ng-click="getWishModal()"><sup style="color:red;font-weight:bold;font-size: 17px;">{{wishItems}}</sup>Wishlist</a></li>
                  <li><a href = "Javascript:void(0)" data-toggle="modal" data-target="#login-modal" class="nav-link">Log In</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="container" id = "name-style" style="display:none;padding-left: 0px;font-size: 18px;font-family: Playfair Display, serif">
          Hello, {{fname}} {{lname}}
        </div>
      </header>
      

      <!-- LOGIN_MODAL-->

      <div class="modal fade" id="login-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" style="top:115px;left:0px">  
          <div class="modal-content">
            <div class="modal-header" style="margin-left: 19px;">
              <button type="button" class="close" data-dismiss="modal" style = "padding:1rem 1rem 1.8rem 1rem;margin:0">&times;</button>
              <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
             <h6 style="margin-left: 20px;margin-bottom: 1.5rem">Get access to wishlist and recommendations</h6>
              <!-- <br/> -->
              <form >
                <div style="margin-left: 12px">
                  <div style="padding-bottom: 20px">
                    <input type="text" name="users" placeholder="Username" style="padding:7px;width: 67% !important;" disabled>
                  </div>
                <input type="password" name="passw" placeholder="Password" style="height:45px !important;width: 67% !important;padding:7px;font-family: inherit; border: 1px solid #afa9a9" disabled><br/>
                  <a href="#" style="float: right;margin:5px;font-weight: 600;">
                    <span style="position: relative;top:27px">
                      Forgot?
                    </span>
                  </a>
                  <div style="padding-bottom: 22px">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login with Facebook" style="width: 145px !important    
                      ;position: relative; top: 17px;background: #3e64ff;color: #fff" ng-click = "onFBLogin()">
                  </div>
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 140px;"></div>

      <div id = "wishModal" class = "w3-modal">
        <div class = "w3-container wishListStyle">
          <h3 style="margin:5px;color: white">WishList</h3>
          <span onclick="document.getElementById('wishModal').style.display='none'" 
            class="w3-button" style="position: absolute;right:0; top:0;font-size: 25px;cursor: pointer;border-top-right-radius: 6px;">&times;</span>
        </div>
        <section id="wishLists">
          <h4 id = "emptymsg" style="display: none;text-align: center;padding: 100px;background: #f6f5f5;">Your wishlist is empty</h4>
          <ul ng-if="wishArray">
            <li ng-repeat = "w in wishArray; track by $index">
              <img id="modal-image-style" src="{{w.productImg}}" > 
              <p style ="margin-left:20px; margin-top:22px; position:absolute;display:inline !important;height:20px;overflow: hidden;">{{w.ProductName}}</p>
              <b style="margin-left: 20px;color: #3e64ff;margin-top:50px;position: absolute;">{{w.price}}</b>
              <button type="button" class="btn-primary" style = "position: absolute;bottom: 15px;margin-left: 20px;border-radius: 5px;" ng-click = "getWishProduct($index)">Buy Now</button>
              <span class="close" ng-click = "removeList(w.productId)">&times;</span>
            </li>
          </ul>
        </section>
      </div>

      <div id="filterModal" class="w3-modal">
        <table class="w3-container">
         
          <caption style="caption-side: top;background: #fff;color: #3e64ff;padding-bottom: 0% !important; padding-top: 0% !important;">   
            <span onclick="document.getElementById('filterModal').style.display='none'" 
            class="w3-button" style="float: right;font-weight: 900;">&times;</span>
          </caption>
            <tr>
                <th>Filter</th>
                <th>Sort
                </th>
            </tr>
            <tr>
                <td>
                    <h4>Budget</h4>
                    <div>
                      <input type="range" min={{min}} max={{max}} value={{max}} class="slider" id="myRange">
                      <p style="color: #3e64ff;"><span id = "mini">{{min}} </span><b style="color: #47495a">to</b> <span id="maxi">{{max}}</span></p>
                    </div>  
                </td>
                <td>
                    <h4>Rating</h4>
                    <div>
                        <select class = "Stars">
                            <option value="">--Please choose an option--</option>
                            <option value="Desc">More to less</option>
                            <option value="Asc">Less to more</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Brand</h4>
                    <ul style = "list-style-type: none;padding-inline-start: 5px !important; column-count: 3">
                      <li ng-repeat = "val in radioValues.brandName">
                        <input type="checkbox" name = "brands" value={{val}}>{{val}}<br>
                      </li>
                    </ul>
                    
                </td>
                <td>
                    <h4>Price</h4>
                    <div>
                        <select class = "Money">
                          <option value="">--Please choose an option--</option>
                            <option value="Ascending">Low to high</option>
                            <option value="Descending">High to low</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Rating</h4>
                    <div id = "mobile-style">
                        <input type="checkbox" name="rating" value="4"> 4★ & above<br>
                        <input type="checkbox" name="rating" value="3"> 3★ & above<br>
                        <input type="checkbox" name="rating" value="2"> 2★ & above <br>
                        <input type="checkbox" name="rating" value="1"> 1★ & above <br>
                    </div>    
                </td>
                <td></td>
            </tr>
            <tr>
              <td colspan="2">
                  <div style="color:#fff;text-align:center;background: #3e64ff;cursor: pointer;" ng-click = "filterValues()">Submit</div>
              </td>  
            </tr>
        </table>
      </div>
      <div class = "container-fluid">
        <div style="display:flex;flex-direction:row;justify-content:flex-start;align-items: stretch;">
            <div id = "gridView" style="background-color: #fff;width:50px;text-align: center;flex-grow: 7;overflow: auto;">
              <section width=100%>
                <ul style="justify-content:space-between;margin-left: -32px;">
                    <li ng-repeat ="x in lists" style="margin:7px;box-sizing:border-box;width:230px;overflow:hidden;position:relative;z-index:2;display:inline-block;cursor: pointer;" 
                    ng-click = "productList($index);">
                      <div height = "200px">
                        <div style="width:100%;height:100%;display:block;background: #fff;">
                            <i class="fa fa-heart" style="font-size:25px;color:#b5b3b3;padding:12px;position: absolute;" ng-click = redHeart($index);$event.stopPropagation();></i>
                          <img id = "content-img-style" src = {{x.productImg}}>
                        </div>
                        <div style = "text-align: center;position:relative;z-index:2;background:#fff;box-sizing:border-box;overflow:hidden;">
                          <div style="padding-right: 3px;padding-left: 3px;">
                            <h4  style = "overflow: hidden;height:55px;text-overflow: ellipsis;position: relative;top:12px">{{x.ProductName}}</h4>
                            <div style = "margin:10px 0 12px;font-size:15px;"><i class = "fa fa-rupee" style="color: #3e64ff"></i><b style="color: #3e64ff;font-size: 20px;">{{x.price}}&nbsp;</b>
                              <strike><i class = "fa fa-rupee"></i>{{x.strike}}</strike>&nbsp; ({{x.discountpercent}}% Off)
                            </div>
                            <div style = "margin:12px 0 12px;font-size:15px"><b>{{x.rating}} ★</b></div>
                          </div>
                          <div width = "100%" style="background:#3e64ff;color: #fff; padding:7px" ng-click = "productUrl($index)">
                            BUY AT
                            <i class="fa fa-amazon"></i>
                          </div>
                          
                        </div>
                      </div>
                    </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
    </div>
    <div id = "scrollTop" style = "left:90%;color:#3e64ff;font-weight:1000;margin-bottom: 4px;margin-top: 35px;width:12%" class = "container">
      <i class="fa fa-hand-o-up" style = "font-size:25px; cursor: pointer;"> </i>Top
    </div>
    <footer class="site-footer bg-light">
      <div class="container">
        
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p><b>Fily</b> makes it easy to search and select from wide range of recommended Amazon products. 
                  Whether you want to review or add it to your wishlist, Fily provides a hassle free platform to buy products of your choice.
                </p>

              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/privacy">Privacy</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <!--  -->
            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <!-- <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a> -->
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <!-- <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a> -->
            </form>
          </div>
        </div>
        
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="pt-5">
              <p style="font-size: 0.4px; float: left;">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="./filter.js"></script>  
  </body>
</html>
