<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link rel="icon" type="image/ico" href="../../../assets/img/titleIcon.jpg" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="../../../assets/css/scrollIdx.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel='stylesheet' href="../../../assets/css/loading-bar.css" type='text/css' media='all' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel='stylesheet' href="../../../assets/css/indexpageStyles.css" type='text/css' media='all' />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src = "./searchController.js"></script>
	</head>
	<div ng-controller="mainAppController">
		<div id = "appDiv" >
			<div class = "container-fluid" style = "background:url('http://elisey24.ru/images/cms/thumbs/a5b0aeaa3fa7d6e58d75710c18673bd7ec6d5f6d/food-865102_960_720_960_auto.jpg') repeat fixed 100%;background-size:cover; padding:0px !important">
				<header class="w3-container w3-padding-30 w3-text-white">
					<h1 class="w3-xxxlarge w3-left"><b>Filiate</b></h1>
				 	<h6 class = "w3-xlarge w3-right">Welcome to the Market place</h6>
				</header>
				<header id = "stickyNav">
					<nav class="navbar" style="margin-bottom: 0px">
						<ul id = "navDesign" class = "nav navbar-nav">
							<li>
								<a href = "#" id="men">
									MEN
									
								</a>
								
							</li>
							
							<li>
								<a href = "#" >
									WOMEN
									
								</a>

							</li>
							
							<li>
								<a href = "#" >
									KIDS
									
								</a>
							</li>
							
							<li>
								<a href = "#" >
									ELECTRONICS
								</a>
							</li>
							<li>
								<a href = "#">
									DISCOVER MORE...
								</a>
							</li>
						</ul>
						
						<ul class="nav navbar-nav navbar-right" id = "navRightDesign">
							<li>
								<a href="JavaScript:void(0);" >		
									LOGIN/SIGN IN	
								</a>

							</li>

						</ul>
					</nav>
				</header>
				<section style="display: none;padding:8px;box-shadow: 0 4px 12px 0 rgba(0,0,0,0.5); background-color: #fff;z-index: 999" id="menLists">
					<ul style="column-count: 3;margin-top: 10px">
						<li>
							<h3>CLOTHING</h3>
							<ul>
								<li>
									T-Shirts & Polos
								</li>
								<li>
									Shirts
								</li>
								<li>
									Trousers
								</li>
								<li>
									Jeans
								</li>
								<li>
									Innerwear
								</li>
								<li>
									Sportswear
								</li>
								<li>
									Ethnic Wear
								</li>
								<li>
									Sweaters
								</li>
								<li>
									Jackets & Coats
								</li>
							</ul>
						</li>
						<li>
							<h3>SHOES</h3>
							<ul>
								<li>
									Sports Shoes
								</li>
								<li>
									Formal Shoes
								</li>
								<li>
									Casual Shoes
								</li>
								<li>
									Sneakers
								</li>
								<li>
									Loafers & Mocassins
								</li>
								<li>
									Flip-Flops
								</li>
								<li>
									Boots
								</li>
								<li>
									Sandals & Floaters
								</li>
								<li>
									Boat Shoes
								</li>
							</ul>
						</li>
						<li>
							<h3>WATCHES</h3>
							<ul>
								<li>Metallic</li>
								<li>Chronographs</li>
								<li>Leather</li>
							</ul>
						</li>
						<li>
							<h3>JEWELLERY</h3>
							<ul>
								<li>Rings</li>
								<li>Bracelets</li>
							</ul>
						</li>
						<li>
							<h3>EYEWEAR</h3>
							<ul>
								<li>Sunglasses</li>
								<li>Spectacle Frames</li>
							</ul>
						</li>
						<li><h3>WALLETS</h3></li>
					</ul>
				</section>
				<form class = "form-horizontal" style = "margin-top:15%;padding:30px">
					<div class = "form-group">
						<div class="col-sm-4"></div>
							<div class="col-sm-4">
								<input id = 'inputBox' type="text" class="form-control animated fadeInDown" placeholder="Search for products,brands and more" ng-model = "products" ng-focus='showList()' ng-blur = 'hideList()' autocomplete="off" /><br/>
								<button class="btn btn-primary btn-block animated fadeInUp" style="background:#a6c" ng-click="search()">FIND OUT</button>
						</div>
					</div>
				</form>
			</div>
			<div class="auto_margin"  style="overflow:auto;width:33%;">
				<ul id ="productList" class="text-center col-sm-4" style = 'position:absolute;background: #fff;display: none;overflow: auto;height: 250px;border:1px solid skyblue'>
					<li id="listDesign" ng-repeat="x in product | filter:products" ng-click="setValue(x)">
						{{x}}
						<hr style="margin:1px;">
					</li>
				</ul>
			</div>
		</div>

		<div class="container-fluid" style="margin-bottom: 50px;z-index: 0"></div>
		<div class = "container-fluid" style = "box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;margin-left: 15px;margin-right: 15px; background: #eee" >
			<h3 id="labels"> Deals </h3>
				<!-- Deals -->
			<div>
				
				<div class = "lightBoxrow">
					<div class = "lightBoxcol" ng-repeat = "d in deals">
						<b style="padding-bottom: 5px;"><i>{{d.name}}</i></b> 
						<p style = "background: #ddd"><i class = "fa fa-rupee"></i><b>{{d.price}}</b> <i class = "fa fa-rupee"></i><strike>{{d.strikethrough}}</strike></p>
						<img src={{d.url}} ng-click = 'link($index)' style="cursor: pointer" />
					</div>
				</div>	
			</div>
		</div>


			<!-- Payment offers-->
		<div class="container">  
				<div id="offerCarousel" class= "carousel slide" data-ride="carousel" data-interval="3000">
				<!-- Indicators -->
			    <ol>
			      <li data-target="#offerCarousel" data-slide-to="0" class="active"></li>
			      <li data-target="#offerCarousel" data-slide-to="1"></li>
			      <li data-target="#offerCarousel" data-slide-to="2"></li>
			    </ol>
		<!-- Wrapper for slides -->
			    <div class = "carousel-inner">
			    	<div class = "item active" >
			    		<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/kitchen/bank-stripe_W1_Live_1500x70.jpg"  style="width:100%;">
			    	</div>
			    	<div class = "item">
			    		<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img15/ImageBank/ILM_ICICI_Categoryback_640x45._CB450024852_.jpg"  style="width:100%;">
			    	</div>
			    	<div class = "item">
			    		<img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Wireless/Jupiter19/ILM/FSR/R/D12615570_IN_WLME_Jupiter_ILM_640x45_2._CB452864361_.jpg"  style="width:100%;">
			    	</div>	
			    </div>
			</div>
		</div>

			<!--Brands-->
		<h3 id = "labels">Brands</h3>
		<div class = "container-fluid" id = "imgGrid">
			<a ng-repeat = "y in brands" href={{y.productUrl}}>
				<img src={{y.imgUrl}} class="img-thumbnail" height="350px" width="200px">
			</a>
		</div>

		<!-- TRENDING -->
		<h3 id = "labels"> Trending </h3>
		<div class = "container">
			<div class="jumbotron">
				
				<div class ="row" >

					<div class="col-lg-3 col-sm-6" ng-repeat = "z in  trend">
						<a  href={{z.productUrl}}>
						<div class="thumbnail card">
							<img class ="card-img-top" height = "100px" src= {{z.imgUrl}}>
							<div class="card-body">
									<h2 class="card-title">{{t.title}}</h2>
									<p class="card-text">{{t.description}}</p>
								</div>
						</div>
					</div>
				</div>
			</div>			
		</div>

			<!--- FOOTER --->
		<footer class="container-fluid" style="position:relative;bottom:0px;padding: 0px !important">
			<div class="footer-basic-centered" style="background-color: #dccee4;margin-top:50px;">
				<p class="footer-links text-center">
					<a href="#"><img src="./assets/img/fb.png"></a>
					<a href="#"><img src="./assets/img/insta.png"></a>
					<a href="#"><img src="./assets/img/pinterest2.png"></a>
				</p>

				<p class="footer-links text-center">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>
				<p class="footer-company-name text-center" style="background: #c9c2ce; margin: 0px">2017© Copyright FILIATED</p>
			</div>
		</footer>
	</div>
</html>
