<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fily &mdash;Amazon affiliate website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="../../../assets/fonts/icomoon/style.css">
  <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../assets/css/animate.min.css">
  <link rel="stylesheet" href="../../../assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="../../../assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../../../assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="../../../assets/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="../../../assets/css/aos.css">
          <!-- MAIN CSS -->        
  <link rel="stylesheet" href="../../../assets/css/style.css">
</head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
   
    <div class="site-wrap" id="home-section" ng-controller="mainAppController">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

            <!--  HEADER SECTION -->

      <header class="site-navbar site-navbar-target bg-white" role="banner">
        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="col-lg-4">
              <nav class="site-navigation text-right ml-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li class="active"><a href="https://www.amazon.in/s/ref=as_li_ss_tl?url=search-alias=apparel&field-keywords=&linkCode=ll2&tag=fily0e-21&linkId=fbbbb37602a7385b19f748188a60ac46&language=en_IN" class="nav-link">Clothings</a></li>
                  <li><a href="https://www.amazon.in/s/ref=as_li_ss_tl?url=search-alias=electronics&field-keywords=&linkCode=ll2&tag=fily0e-21&linkId=156c8511b3a60fa0bdbc71f5fbf7f949&language=en_IN" class="nav-link">Electronics</a></li>
                  <li>
                    <div class="dropdown">
                      <a href="Javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" style = "color:black">Discover</a>
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="https://www.amazon.in/s/ref=as_li_ss_tl?url=search-alias=kitchen&field-keywords=&linkCode=ll2&tag=fily0e-21&linkId=c4dfbd8504458f19b6888da8ccae06ba&language=en_IN">Home & Kitchen</a></li>
                        <li><a href="https://www.amazon.in/s/ref=as_li_ss_tl?url=search-alias=sporting&field-keywords=&linkCode=ll2&tag=fily0e-21&linkId=7c27651b1e49b66ba9a7933aa93b1860&language=en_IN">Sports</a></li>
                        <li><a href="https://www.amazon.in/s/ref=as_li_ss_tl?url=search-alias=luggage&field-keywords=&linkCode=ll2&tag=fily0e-21&linkId=3803c20447a4dd517455b2a0132c937e&language=en_IN">Luggage & Bags</a></li>
                        <li><a href="https://www.amazon.in/s/ref=as_li_ss_tl?url=search-alias=dvd&field-keywords=&linkCode=ll2&tag=fily0e-21&linkId=faf9f7bcd3ed8e36feb7e31eac7b0587&language=en_IN">Movies & TV shows</a></li>
                        <li><a href="https://www.amazon.in/s/ref=as_li_ss_tl?url=search-alias=hpc&field-keywords=&linkCode=ll2&tag=fily0e-21&linkId=ea16aaaee40d8a342d0ae44794330eb3&language=en_IN">Health & Personal care</a></li>
                        <li><a href="https://www.amazon.in/s/ref=as_li_ss_tl?url=search-alias=jewelry&field-keywords=&linkCode=ll2&tag=fily0e-21&linkId=db75a55133cb0a422affb53905b80d30&language=en_IN">Jewellery & Beauty products</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-4 text-center">
              <div class="site-logo">
                <a href="index.html">Fily</a>
              </div>
              <div class="ml-auto toggle-button d-inline-block d-lg-none">
                <a href="Javascript:void(0)" class="site-menu-toggle py-5 js-menu-toggle text-white">
                  <span class="icon-menu h3 text-primary"></span>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <nav class="site-navigation text-left mr-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="contact.html" class="nav-link">About</a></li>
                  <li><a href="Javascript:Void(0)" class="nav-link"  onclick="document.getElementById('wishModal').style.display='block'"><sup style="color:red;font-weight:bold;font-size: 15px;">1</sup>Wishlist</a></li>
                  <li><a href="gallery.html" class="nav-link">Log In</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>

        <!-- WISHLIST MODAL -->

      <div id = "wishModal" class = "w3-modal">
        <div class = "w3-container wishListStyle">
          <h3 style="margin:5px;color: white">WishList</h3>
          <span onclick="document.getElementById('wishModal').style.display='none'" 
            class="w3-button" style="position: absolute;right:0; top:0;font-size: 25px;cursor: pointer;border-top-right-radius: 10px;">&times;</span>
        </div>
        <section id="wishLists">
          <ul>
            <li>
              <img id="modal-image-style" src="../../../assets/images/person_5.jpg" > <p style ="margin-left:20px;margin-top:22px;position:absolute;display:inline !important">Hit the gym</p><b style="margin-left: 20px;color: #3e64ff;margin-top:50px;position: absolute;">Rs.300</b>
              <button type="button" class="btn-primary" style = "position: absolute;bottom: 15px;margin-left: 20px;border-radius: 5px;">Buy Now</button>
              <span class="close">&times;</span>
            </li>
            <li>
                <img id="modal-image-style" src="../../../assets/images/person_4.jpg" > <p style ="margin-left:20px;margin-top:20px;position:absolute;display:inline !important">Meet George</p><span class="close">&times;</span>
              </li>
            <li>
                <img id="modal-image-style" src="../../../assets/images/person_3.jpg" ><p style ="box-flex:20px;margin-top:20px;position:absolute;display:inline !important"> Buy eggs</p><span class="close">&times;</span>
              </li>
            <li>
                <img id="modal-image-style" src="../../../assets/images/person_2.jpg" > <p style ="margin-left:20px;margin-top:20px;position:absolute;display:inline !important"> Read a book</p><span class="close">&times;</span>
              </li>
            <li>
                <img id="modal-image-style" src="../../../assets//images/person_1.jpg" ><p style ="margin-left:20px;margin-top:20px;position:absolute;display:inline !important"> Organize office</p><span class="close">&times;</span>
              </li>
          </ul>
        </section>
      </div>

           <!-- SEARCH SECTION -->

      <div class="owl-carousel-wrapper">
        <div class="shadow-lg" style="padding:0 50px">
            <div class = "container">
              <div class = "row" style="align-items: center !important;">
                <div id = "input-box" class = "col-xl-9">
                  <form style="width:100%;position:relative">
                    <input type="text" placeholder="Find products" id ="input-search" style="height: 50px;background: #fff;font-size: 17px;color: #000;font-weight: 400;border: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;padding:20px;width:85%;float: left;" ng-model = "products" ng-focus='showList()' ng-blur = 'hideList()' autocomplete="off" >
                    <button class = "find-btn" ng-click="search()">FIND OUT</button>
                    <div style="overflow:auto;width:33%;">
                      <ul id ="productList" class="text-center col-sm-4" style = 'position:absolute;background: #fff;display: none;overflow: auto;height: 230px;border:1px solid skyblue'>
                        <li id="listDesign" ng-repeat="x in product | filter:products" ng-click="setValue(x)">
                          {{x}}
                          <hr style="margin:1px;">
                        </li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <div class="owl-carousel owl-1 ">
          <div class="ftco-cover-1" style="background-image: url('../../../assets/images/hero_1.jpg');"></div>
          <div class="ftco-cover-1" style="background-image: url('../../../assets/images/hero_2.jpg');"></div>
          <div class="ftco-cover-1" style="background-image: url('../../../assets/images/hero_3.jpg');"></div>  
        </div>
    </div>  

          <!-- DEALS SECTION -->

    <div class="site-section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7">
            <h2 class="heading-39291 mb-0">Deals</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="media-02819 row">
              <div class = "col-md-4" ng-repeat = "d in deals">
                <div class = "thumbnail" ng-click = 'link($index)' style="cursor: pointer;position: relative;">
                  <a href="Javascript:void(0)" class="img-link">
                    <img src={{d.url}} alt="Image" class="img-fluid" style="height: 190px;">
                  </a>  
                </div>
                <div style="position: relative;bottom: 0;">
                    <h3><a href="Javascript:void(0)">{{d.name}}</a></h3>
                    <span style="color:#3e64ff"><i class = "fa fa-rupee"></i>{{d.price}} &nbsp; <i class = "fa fa-rupee"></i><strike>{{d.strikethrough}}</strike></span>
                </div>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <!-- TRENDS SECTION -->

    <div class="site-section bg-primary">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7">
            <h2 class="heading-39291 text-white mb-3">Trends</h2>
            <p class="text-white">What shall we focus on? Follow the trend.</p>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100" ng-repeat = "t in trend">
            <div class="service-29193 text-center" ng-click = "refLink($index)" style="cursor: pointer;">
              <span class="img-wrap mb-5" >
                <img src={{t.imgUrl}} alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Reiciendis Velit</a></h3>
              <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
          </div>
          <!-- <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../../../assets/fonts/flaticon/svg/003-lamp.svg" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Incidunt Distinctio</a></h3>
              <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../../../assets/fonts/flaticon/svg/001-stairs.svg" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Reiciendis Velit Iure</a></h3>
              <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../../../assets/fonts/flaticon/svg/004-blueprint.svg" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Boluptate Ipsum</a></h3>
              <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../../../assets/fonts/flaticon/svg/006-pantone.svg" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Modern Elit</a></h3>
              <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../../../assets/fonts/flaticon/svg/005-dinning-table.svg" alt="Image" class="img-fluid">
              </span>
              <h3 class="mb-4"><a href="#">Dolor Sitame</a></h3>
              <p>Lorem ipsum dolor sit ame adipisicing elit. Perspiciatis incidunt distinctio voluptate .</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- OFFERS CAROUSEL -->

    <div class="site-section section-4">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <div class="slide-one-item owl-carousel">
              <blockquote class="testimonial-1">
                <span><span>SBI Offer</span></span>
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Wireless/AugART/ILM/R/D11538188_Aug_ART_SBI_ILMs_640_45._CB439978039_.jpg"  style="width:100%;">
              </blockquote>

              <blockquote class="testimonial-1">
                <span>Paypal Offer</span>
                <img src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/31/68e718f1-1353-4490-9547-6d8917b297701564586048282-paypal-desktop-strips.jpG"  style="width:100%;">  
              </blockquote>
              <blockquote class="testimonial-1">
                <span> AMEX Offer</span>
                <img src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/8/10/637c6a92-7ca6-49a6-8099-362d17b8f2461565414745125-MBE-D-.jpg" style="width: 100%">   
              </blockquote>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- BRANDS SECTION -->

    <div class = "container-fluid" style="margin-bottom:70px;text-align: center;">
      <div class="jumbotron" style = "background: ghostwhite; position: relative;">
        <div>
          <h2 class="heading-39291 mb-0" style = "margin-bottom: 50px !important;">Brands</h2>
        </div>
          <a ng-repeat = "y in brands" href={{y.productUrl}}>
            <img src={{y.imgUrl}} class="img-thumbnail" height="350px" width="200px">
          </a>
      </div>
    </div>

    <!-- FOOTER -->

    <footer class="site-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, 
                  there live the blind texts. </p>

              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="pt-5">
              <p style="font-size: 3px; float: left;">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>
    </div>  
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script> -->
    <!-- <script src="./searchController.js"></script> -->
    <!-- <script src="../../../assets/js/jquery-3.3.1.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../assets/js/owl.carousel.min.js"></script>
    <script src="../../../assets/js/jquery.sticky.js"></script>
    <script src="../../../assets/js/jquery.waypoints.min.js"></script>
    <script src="../../../assets/js/jquery.animateNumber.min.js"></script>
    <script src="../../../assets/js/jquery.fancybox.min.js"></script>
    <script src="../../../assets/js/jquery.easing.1.3.js"></script>
    <script src="../../../assets/js/aos.js"></script>
    <script src="../../../assets/js/main.js"></script> -->
  </body>
</html>
