<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fily | Find the best price,deals,offers for Electronics,Dresses,Appliances and more &mdash; Fily.com</title>
  <meta name="description" content="Buy Amazon devices,Electronics,Dress,Bags wallets and luggage,Home appliances,Jewellery,Prime Videos,Shoes & much more.">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
   
    <div class="site-wrap" id="home-section" ng-controller="mainAppController">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

          <!--  HEADER SECTION -->

      <header class="site-navbar site-navbar-target bg-white" role="banner">
        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="col-lg-4">
              <nav class="site-navigation text-right ml-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href={{clothing}} class="nav-link">Clothings</a></li>
                  <li><a href= {{electronic}} class="nav-link">Electronics</a></li>
                  <li>
                    <div class="dropdown">
                      <a href="Javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" style = "color:black">Discover</a>
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li ng-repeat = "dis in discovery">
                          <a href={{dis.href}}>{{dis.name}}</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-4 text-center">
              <div class="site-logo">
                <a href="#!/">Fily</a>
              </div>
              <div class="ml-auto toggle-button d-inline-block d-lg-none">
                <a href="Javascript:void(0)" class="site-menu-toggle py-5 js-menu-toggle text-white">
                  <span class="icon-menu h3 text-primary"></span>
                </a>
              </div>
            </div>
            <div class="col-lg-4">
              <nav class="site-navigation text-left mr-auto " role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="#aboutFily" class="nav-link">About</a></li>
                  <li>
                    <a href="Javascript:void(0)" class="nav-link"  onclick="getWishModal()">
                      <sup id="subscript">
                        {{wishItems}}
                      </sup>
                      Wishlist
                    </a>
                  </li>
                  <li>
                    <a href = "Javascript:void(0)" data-toggle="modal" data-target="#login-modal" class="nav-link">Log In</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header> 

        <!-- LOGIN POPUP --->

        <div class="modal fade" id="login-modal" role="dialog" tabindex="-1">
          <div class="modal-dialog" style="top:115px;left:0px">  
            <div class="modal-content">
              <div class="modal-header" style="margin-left: 19px;">
                <button type="button" class="close" data-dismiss="modal" style = "padding:1rem 1rem 1.8rem 1rem;margin:0">&times;</button>
                <h4 class="modal-title">Login</h4>
              </div>
              <div class="modal-body">
               <h6 style="margin-left: 20px;margin-bottom: 1.5rem">Get access to wishlist and recommendations</h6>
                <!-- <br/> -->
                <form >
                  <div style="margin-left: 12px">
                    <!-- <div style="padding-bottom: 20px">
                      <input type="text" name="users" placeholder="Username" style="padding:7px;width: 67% !important;" disabled>
                    </div>
                  <input type="password" name="passw" placeholder="Password" style="height:45px !important;width: 67% !important;padding:7px;font-family: inherit; border: 1px solid #afa9a9" disabled><br/>
                    <a href="#" style="float: right;margin:5px;font-weight: 600;">
                      <span style="position: relative;top:27px">
                        Forgot?
                      </span>
                    </a> -->
                    <div style="padding-bottom: 22px;">
                      <input type="submit" class="login loginmodal-submit" value="Login with Facebook " id="fb-login-style" ng-click = "onFBLogin()">
                    </div>
                  </div> 
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- WISHLIST MODAL -->
      <div id = "wishModal" class = "w3-modal">
        <div class = "w3-container wishListStyle">
          <h3 id="wish-head">WishList</h3>
          <span onclick="document.getElementById('wishModal').style.display='none'" 
            class="w3-button" id="close-btn">&times;</span>
        </div>
        <section id="wishLists">
          <h4 id = "emptymsg" id="wishlist-header">Your wishlist is empty</h4>
          <ul ng-if="wishArray">
            <li ng-repeat = "w in wishArray; track by $index">
              <img id="modal-image-style" src="{{w.productImg}}" > 
              <p id ="wishitem-para">{{w.ProductName}}</p>
              <b id="wish-price">{{w.price}}</b>
              <div id="btn-div">
                <button type="button" class="btn-primary" id = "wish-btn" ng-click = "getWishProduct($index)">Buy Now</button>
              </div>
            </li>
          </ul>
        </section>
      </div>

        <!-- SEARCH SECTION -->
        <div class="shadow-lg" id="search-one">
          <div class = "container">
            <div class = "row" id="search-two">
              <div id = "input-box" class = "col-xl-9">
                <form id="search-form">
                  <input type="text" placeholder="Find products" id ="input-search" ng-model = "products" ng-focus='showList()' ng-blur = 'hideList()' autocomplete="off" >
                  <button class = "find-btn" ng-click="search()">FIND OUT</button>
                  <div id="search-three">
                    <ul id ="productList" class="text-center col-sm-4" id = 'prod-list'>
                      <li id="listDesign" ng-repeat="x in product | filter:products" ng-click="setValue(x)">
                        {{x}}
                        <hr style="margin:1px;">
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
        <!-- CAROUSEL -->
      <div class="owl-carousel-wrapper">
        <div class="owl-carousel owl-1" id="carousel-div">
          <a href = "https://www.amazon.in/gp/redirect.html?_encoding=UTF8&location=https://www.primevideo.com/detail/amzn1.dv.gti.f8b7b555-cfcf-ad88-ad1b-81f9baac1d0b/ref_=dvm_crs_gat_in_ai_s_dk_hero1_l_ft_PPW_TP&token=1A88225977320CED933DCA03EF3215BFD6DAF086&source=standard&pf_rd_p=5b4cc540-6a0c-41c4-9477-23ad0fa601a3&pf_rd_r=090JAG4C7SX9J31DR2T4">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonVideo/2020/X-site/SingleTitle/PPW/1500x600_Hero-Tall_ft._CB423858737_.jpg" alt="image">
          </a>
          <a href="https://www.amazon.in/dp/B07HGMQX6N?pf_rd_p=91df91c4-1c32-427f-9754-7632ab51c79c&pf_rd_r=090JAG4C7SX9J31DR2T4">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Wireless/SamsungM/M30s/AMOLED_Display/WithoutBO/M30s_Tall_hero_1500x600._CB425232923_.jpg" alt="image">
          </a>
          <a href="https://www.amazon.in/b?node=18238166031&pf_rd_p=87b2b7ec-eff5-4037-8a89-aa76375732d0&pf_rd_r=090JAG4C7SX9J31DR2T4">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Fashion/WWF_Jan/GW/2._CB423687782_.jpg" alt="image">
          </a>
          <a href="https://www.amazon.in/s/ref=as_li_ss_tl?hidden-keywords=B08259JHK6%7CB081ZZ3TTJ%7CB081RZ1ZSQ%7CB081S1C428&pf_rd_p=b17af081-c1bb-4274-a0a8-5ce69e65d0f2&pf_rd_r=090JAG4C7SX9J31DR2T4&linkCode=ll2&tag=fily0e-21&linkId=b6cddacf4908f5a768aa72bc03097973&language=en_IN">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Wireless/WLA/Jan/GW/Crossbeats/V174104008_IN_WLA_Crossbeats_DesktopTallHero_1500x600._CB423659514_.jpg" alt="image">          
          </a>
          <a href="https://www.amazon.in/prime?primeCampaignId=testRF1&pf_rd_p=f15820bc-e09e-4fea-b9a8-3c5263260804&pf_rd_r=090JAG4C7SX9J31DR2T4">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/prime/Gateway/2019/May/1171883_1500x600_Tallhero._CB462550275_.jpg" alt="image">
          </a>
        </div>
    </div>  

        <!-- DEALS SECTION -->

    <div class="site-section" id="deals-sec">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7">
            <h2 class="heading-39291 mb-0">Deals</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="media-02819 row">
              <div class = "col-md-4" ng-repeat = "d in deals">
                <div class = "thumbnail" ng-click = 'link($index)' id="deals-div">
                  <a href="Javascript:void(0)" class="img-link">
                    <img src={{d.url}} alt="Image" class="img-fluid" style="height: 190px;">
                  </a>  
                </div>
                <div id="deals-stt">
                    <h3><a href="Javascript:void(0)" style="font-family: none;">{{d.name}}</a></h3>
                    <span id="span-sec"><i class = "fa fa-rupee" style="color: #000;"></i><b>{{d.price}}</b> &nbsp; <i class = "fa fa-rupee" style="color: #000;"></i><strike>{{d.strikethrough}}</strike> &nbsp; 
                      <p id="discount-style">{{d.percentdiscount}}% Off</p>
                    </span>
                </div>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <!-- TRENDS SECTION -->

    <div class="site-section bg-primary">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7">
            <h2 class="heading-39291 text-white mb-3">Trends</h2>
            <p class="text-white">What shall we focus on? Follow the trend.</p>
          </div>
        </div>
        <div class="row"> 
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100" ng-repeat = "t in trend">
            <div class="service-29193 text-center" ng-click = "refLink($index)" style="cursor: pointer;">
              <span class="img-wrap mb-5" >
                <img src={{t.imgUrl}} alt="Image" class="img-fluid" >
              </span>
              <h3 class="mb-4"><a href="#">{{t.productName}}</a></h3>
              <p id="trends-style">{{t.productDetail}}</p>            
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- OFFERS CAROUSEL -->

    <div id = "offer-mobile-style" class="site-section section-4">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <div class="slide-one-item owl-carousel">
              <blockquote class="testimonial-1">
                <span><span>SBI Offer</span></span>
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Wireless/AugART/ILM/R/D11538188_Aug_ART_SBI_ILMs_640_45._CB439978039_.jpg"  style="width:100%;">
              </blockquote>

              <blockquote class="testimonial-1">
                <span>Paypal Offer</span>
                <img src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/31/68e718f1-1353-4490-9547-6d8917b297701564586048282-paypal-desktop-strips.jpG"  style="width:100%;">  
              </blockquote>
              <blockquote class="testimonial-1">
                <span> AMEX Offer</span>
                <img src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/8/10/637c6a92-7ca6-49a6-8099-362d17b8f2461565414745125-MBE-D-.jpg" style="width: 100%">   
              </blockquote>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- BRANDS SECTION -->

    <div class = "container-fluid" id="brand-div">
      <div class="jumbotron" id = "jumbotron-style">
        <div>
          <h2 class="heading-39291 mb-0" id = "brand-header">Brands</h2>
        </div>
          <a ng-repeat = "y in brands" href={{y.productUrl}}>
            <img src={{y.imgUrl}} class="img-thumbnail" height="350px" width="200px">
          </a>
      </div>
    </div>

    <!-- FOOTER -->

    <footer class="site-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p id = "aboutFily"><b>Fily</b> makes it easy to search and select from wide range of recommended Amazon products. 
                Whether you want to review or add it to your wishlist, Fily provides a hassle free platform to buy products of your choice.
              </p>

              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/privacy">Privacy</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <!-- <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a> -->
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <!-- <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a> -->
            </form>
          </div>
        </div>
          <p style="font-size: 0.4px; float: left;">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
      </div>
    </footer>
    </div>    
  </body>
</html>


  