#navDesign li:hover{font-style: :oblique}
#navDesign li a{
	color:#7D3C98;
	font-weight:bold;
}
#navRightDesign li a{
	color:#7D3C98;
	font-weight:bold;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:1.0 !important;
}
.lightBoxrow{
	box-sizing: border-box;
	margin-bottom: 30px;
	margin-top: 20px
}
.lightBoxrow > .lightBoxcol{
	padding: 8px;
}
.lightBoxcol{
	float:left;
	width:25%;
}
.lightBoxrow:after{
	content: "";
	display: table;
	clear:both;
}
#labels{
	border-bottom: 2px solid #bbbbc4;
	text-align: center;
	margin-bottom: 15px;
	display: inline-block;
	margin-left: 50%
}
#imgGrid{
	margin-bottom:25px;
	text-align: center;
}
#imgGrid img{
	margin: 6px
}
.col-sm-6 .thumbnail{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#stickyNav nav{
	background:#fff;
	border-radius: 0px;
	padding:8px;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.5);
}

#stickyNav{opacity: 0.8}
.col-sm-4 input{
	height:40px;
	box-shadow:5px 10px 20px #312e2e
}
.carousel-inner{
	object-fit: cover;
	padding: 0px !important;
	padding: 3px;
	height:80px;
	margin-bottom: 25px
}