<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fily | Find the best price,deals,offers for Electronics,Dresses,Appliances and more &mdash; Fily.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="One click away to the best price,deals,offers for Electronics,Dresses,TV shows,movies,Home appliances and more Amazon products">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../../../assets/css/aos.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../../../assets/css/style.css">
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">
      <header class="site-navbar site-navbar-target bg-white" role="banner">
        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-lg-4">
            </div>
            <div class="col-lg-4 text-center">
              <div class="site-logo">
                <a href="#!/">Fily</a>
              </div>
            </div>
          </div>
        </div>
      </header>
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <h2 class="heading-39291">Meet Our Founder</h2>
            <p></p>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4 col-md-6 mb-5" style="margin:auto">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a href="Javascript:void(0)" class="d-inline-block">
                <img src="../../../assets/images/PersonalPhoto.jfif" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">Founder & Developer</span>
                <h2>Sourav Paul</h2>
                <p>In high school, I was that kid that seemed to never be paying attention. Seemingly, in my own world of imaginations.
                  Understanding the abstractness of technology always excited me since I was in diapers. Things never change-- I am no longer in diapers though.
                  When I was in college I had this idea to build application that show cuisines of different states in India. 
                  Downloaded only among my close group. Though I am an amateur developer, it increased my intrest in development and research.
                  Internet was my outlet.
                  Today, I do the work I love. I like to learn and explore more. I like the people I meet. I like to make the web a better place. 
                  Hopefully we cross paths in real world someday and we can make it a better place together.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="site-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p><b>Fily</b> makes it easy to search and select from a wide range of recommended Amazon products. 
                  Whether you want to review or add it to your wishlist, Fily provides a hassle free platform to buy products of your choice.</p>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/privacy">Privacy</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <!-- <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a> -->
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <!-- <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a> -->
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="pt-5">
              <p style="font-size: 0.4px; float: left;">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div>

    <script src="../../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../assets/js/owl.carousel.min.js"></script>
    <script src="../../../assets/js/jquery.sticky.js"></script>
    <script src="../../../assets/js/jquery.waypoints.min.js"></script>
    <script src="../../../assets/js/jquery.animateNumber.min.js"></script>
    <script src="../../../assets/js/jquery.fancybox.min.js"></script>
    <script src="../../../assets/js/jquery.easing.1.3.js"></script>
    <script src="../../../assets/js/aos.js"></script>
    <script src="../../../assets/js/main.js"></script>
  </body>

</html>
